

.wrapper{
  position: relative;
  left: 20px;
  top: 20px;
}

.wrapper>div{
  display: flex;
}

.btn {
  height: 50px;
  width: 50px;
  margin: 0 20px;
  font-size: 25px;
}

.size {
  font-size: 40px;
 
}

.mg {
  margin: 20px 20px 0px 20px;
}


.resource {
  position: relative;
  height: 40px;
  width: 100px;
  font-size: 16px;
  margin-right: 10px;
}


